<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="com" value="COM1"/>
    <!-- see for more informatie http://www.csharp-examples.net/string-format-datetime/ -->
    <add key="currentfile" value="c:\temp\solar{0:yyyyMMdd}.txt"/>
    <add key="historicfile" value="c:\temp\solarHist{0:yyyyMMdd}.txt"/>
  </appSettings>
</configuration>